<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DataBase" value="SqlServer" />-->
	<add key="DataBase" value="SqlServer" />
    <add key="SqlServer_ConnectionString" value="Data Source=DESKTOP-RGPDGSP;Initial Catalog=Compta;Integrated Security=True" />
    <add key="Access_ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Password=&quot;&quot;;User ID=Admin;Data Source=C:\Users\taher.DESKTOP-RGPDGSP.000\Desktop\STAGE3_LICENCE\Sharp karkaza V4\Source\SharpCompta2007\Data\compta.mdb;Mode=Share Deny None;Extended Properties=&quot;&quot;;Jet OLEDB:System database=&quot;&quot;;Jet OLEDB:Registry Path=&quot;&quot;;Jet OLEDB:Database Password=&quot;&quot;;Jet OLEDB:Engine Type=5;Jet OLEDB:Database Locking Mode=1;Jet OLEDB:Global Partial Bulk Ops=2;Jet OLEDB:Global Bulk Transactions=1;Jet OLEDB:New Database Password=&quot;&quot;;Jet OLEDB:Create System Database=False;Jet OLEDB:Encrypt Database=False;Jet OLEDB:Don't Copy Locale on Compact=False;Jet OLEDB:Compact Without Replica Repair=False;Jet OLEDB:SFP=False" /> 
   
  </appSettings>
</configuration>