<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ComptabiliteGenerale.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ComptabiliteGenerale.Properties.Settings.ComptaConnectionString"
            connectionString="Data Source=DESKTOP-RGPDGSP;Initial Catalog=Compta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ComptabiliteGenerale.Properties.Settings>
            <setting name="Cmp" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="margin" serializeAs="String">
                <value>6, 3, 3, 3</value>
            </setting>
            <setting name="dix" serializeAs="String">
                <value>3, 3, 3, 3</value>
            </setting>
        </ComptabiliteGenerale.Properties.Settings>
    </userSettings>
</configuration>